
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5">
                <div class="card h-100">
                <a  onclick="addToCart('캡틴아메리카노', 4500,'/assets/img/captincof.jpg');">
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/captincof.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">캡틴아메리카노</h5>
                            <!-- Product price-->
                            1,500원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        </div>
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>


            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                       <a  onclick="addToCart('카페라떼', 4500,'/assets/img/cafelat.jpg');">
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/cafelat.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">카페라떼</h5>
                            <!-- Product price-->
                            3,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        </div>
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a  onclick="addToCart('헤이즐넛 아메리카노', 4500,'/assets/img/cafemoka.jpg');">
                    <img class="card-img-top" src="/assets/img/cafemoka.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">헤이즐넛 아메리카노</h5>
                            <!-- Product price-->
                            2,000원
                        </div>
                    </div>

                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5">
                <div class="card h-100">
                <a  onclick="addToCart('레몬에이드', 4500,'/assets/img/lemonade.jpg')" >
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/lemonade.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">레몬에이드</h5>
                            <!-- Product price-->
                            4,500원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        </div>
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" value="add_hTag" onclick="addToCart('레몬에이드', 4500,'/assets/img/lemonade.jpg');" id="ddd">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>


            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <a  onclick="addToCart('체리에이드', 4500,'/assets/img/cheade.jpg')" >
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/cheade.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">체리에이드</h5>
                            <!-- Product price-->
                            4,500원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        </div>
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" value="add_hTag" onclick="addToCart('체리에이드', 4500,'/assets/img/cheade.jpg');" id="bbb" >장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                	<a  onclick="addToCart('랜덤에이드', 4500,'/assets/img/randomade.jpg')" >
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/randomade.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">랜덤에이드</h5>
                            <!-- Product price-->
                            4,500원
                        </div>
                    </div>

                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" value="add_hTag" onclick="addToCart('랜덤에이드', 4500,'/assets/img/randomade.jpg');" id="ccc">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5">
                <div class="card h-100">
                <a  onclick="addToCart('홍차', 4500,'/assets/img/hogcha.jpg');" >
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/hogcha.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">홍차</h5>
                            <!-- Product price-->
                            3,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        </div>
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>


            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- Product image-->
                    <a  onclick="addToCart('유자차', 4500,'/assets/img/ujacha.jpg');" >
                    <img class="card-img-top" src="/assets/img/ujacha.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">유자차</h5>
                            <!-- Product price-->
                            4,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        </div>
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                <a  onclick="addToCart('으라차차', 4500,'/assets/img/lachacha.jpg');" >
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/img/lachacha.jpg" width="300px" height="300px" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">으라차차</h5>
                            <!-- Product price-->
                            1,500원
                        </div>
                    </div>

                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <br>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 담기</a></div>
                    </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    