<!DOCTYPE html>
<html>
<head>

    <style>
        #h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* This makes the container take up the full viewport height */
            font-size: 2em; /* This doubles the font size */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function redirectAfterSeconds() {
            setTimeout(function(){
                $('#h1').html("");
                var html=`
                
                <h1> 결제중입니다 ...</h1>
                `;
                $('#h1').html(html);
                
            }, 2000);
            setTimeout(function(){
                window.location.href = "http://example.com";
            }, 4000);  // 3000 milliseconds = 3 seconds
        }
    </script>
</head>
<body onload="redirectAfterSeconds();">
<div id="h1">
<h1>카드를 단말기에 대주세요 </h1>
</div>
</body>
</html>
