<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;  /* 위/아래 중앙 정렬 */
            height: 100vh;  /* 화면 전체 높이 */
        }
        .button-container button {
            margin: 0 10px;  /* 왼쪽과 오른쪽 마진 설정 */
            width: 150px;  /* 버튼 너비 */
            height: 150px;  /* 버튼 높이 */
            font-size: 1.5em;  /* 글씨 크기 조절 */
        }
    </style>
</head>
<body>
    <div class="button-container">
        
            <button class="btn btn-primary" onclick="window.location.href='/reosk/loding'">삼성페이</button>
            <button class="btn btn-primary" onclick="window.location.href='/reosk/loding'">현금</button>
            <button class="btn btn-primary">포인트</button>
        
    </div>
</body>
</html>
